.banner {
  padding: 2rem 6%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;

    .banner_text h2 {
      font-size: 40px;
      line-height: 55px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
    }

    .banner_text article {
      font-size: 20px;
      font-weight: 300;
      color: #fff;
      line-height: 30px;
      padding-top: 1rem;
      text-align: center;
    }

    .banner_search {
      margin-top: 4rem;
      width: 1000px;

      .search_wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .search_item {
          width: 850px;
          height: 100px;
          border-radius: 70px;
          padding: 0px 70px 0px 50px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5rem;
          background-color: #fff;

          .location {
            display: flex;
            align-items: center;
            gap: 10px;
            min-width: 200px;

            .i {
              font-size: 30px;
              color: #ffa118;
              padding-top: 0.5rem;
            }

            .location_input {
              display: flex;
              flex-direction: column;
              gap: 3px;
              color: #9e9e9e;

              span {
                font-size: 16px;
                font-weight: 400;
                display: flex;
                gap: 5px;

                i {
                  line-height: 1.7rem;
                }
              }

              input {
                border: none;
                margin-top: -0.4rem;
                outline: none;
                min-width: 200px;

                &::placeholder {
                  font-size: 14px;
                  font-weight: 600;
                  color: #0c0404;
                }
              }
            }
          }

          .dates {
            display: flex;
            align-items: center;
            gap: 10px;
            min-width: 222px;

            .i {
              font-size: 30px;
              color: #ffa118;
              padding-top: 0.5rem;
            }

            .date_input {
              display: flex;
              gap: 3px;
              justify-content: center;
              align-items: center;

              .date_i {
                font-size: 30px;
                color: #ffa118;
                padding-top: 0.5rem;
                margin-right: 0.5rem;
              }

              .date_headings {
                display: flex;
                flex-direction: column;

                h4 {
                  font-size: 16px;
                  font-weight: 400;
                  display: flex;
                  gap: 5px;
                  color: #9e9e9e;

                  i {
                    line-height: 1.7rem;
                  }
                }
                span {
                  font-size: 14px;
                  font-weight: 600;
                  color: #0c0404;
                  cursor: pointer;
                }
              }
              .date_range {
                border: none;
                margin-top: -0.4rem;
                outline: none;
                width: 222px;
                position: absolute;
                top: 333px;
                z-index: 2;
              }
            }
          }

          .guests {
            display: flex;
            align-items: center;
            gap: 10px;
            min-width: 200px;
            margin-left: -2rem;

            .guest_i {
              font-size: 30px;
              color: #ffa118;
              padding-top: 0.5rem;
            }

            .guest_input {
              display: flex;
              flex-direction: column;
              gap: 3px;
              width: 150px;
              color: #9e9e9e;

              span {
                font-size: 16px;
                font-weight: 400;
                display: flex;
                gap: 5px;

                i {
                  line-height: 1.7rem;
                }
              }

              small {
                width: 250px;
                border: none;
                margin-top: -0.4rem;
                outline: none;
                font-size: 14px;
                font-weight: 600;
                color: #0c0404;
                cursor: pointer;
              }

              .guest_option {
                z-index: 2;
                position: absolute;
                top: 50;
                margin-top: +4.43rem;
                background-color: #fff;
                color: gray;

                .guest_item {
                  width: 200px;
                  display: flex;
                  justify-content: space-between;
                  margin: 10px;

                  .counter {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    color: black;

                    .counter_button {
                      width: 30px;
                      height: 30px;
                      border: 1px solid #ffa118;
                      color: #ffa118;
                      cursor: pointer;
                      background-color: white;
                    }

                    .counter_button:disabled {
                      cursor: not-allowed;
                    }
                  }
                }
              }
            }
          }

          .button {
            min-width: 100px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;

            button {
              width: 80px;
              height: 80px;
              border-radius: 500px;
              border: none;
              background-color: #ffa118;
              color: #0c0404;
              cursor: pointer;

              &:hover {
                background-color: #e59015;
                color: #fff;
              }

              i {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  .date {
    color: #9e9e9e;
    cursor: pointer;
  }
}
